* {
    box-sizing: borderbox;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: black;   
}

.full-screen {
    height: 99.9%;
    width: 99.9%;
}

/* Main container div holding the split displays */
#game-container {
    display: flex;
    gap: 0.2rem;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

#game-container > * > * {
    min-width: 1rem;
}

#top-center, #bottom-center {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    color: white;
    height:fit-content;
    width: 50%;
    padding: 1rem;
}

#top-center {
    background-color: hsla(203, 56%, 68%, 0.7);
}

#bottom-center {
    background-color: hsla(240, 56%, 68%, 0.7);
}

#top-center > div, #bottom-center > div{
    display: flex;
    justify-content: space-between;
}

.game-table {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
    border: 0.1rem solid hsl(0, 0%, 80%);
    background-color: hsla(0, 0%, 100%, 0.20);
}

.game-numbers {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    text-align: center;
}

.game-numbers > * {
    width: 9.99%;
}

.game-letters {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.game-letters > * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9.9%;
}

.game-rows {
    display: flex;
    flex-direction: row;
}

.game-squares {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.grid {
    outline: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 9.9%;
}

.grid:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

/* Unit styling */

.token {
    background: black;
    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 1rem;
}

.ship {
    background-color: hsla(233, 65%, 25%, 0.7);
    border: none;
}

.damaged {
    background-color: red !important;
}

.destroyed {
    background-color: hsl(0, 0%, 0%, 0.7);
}

@media only screen and (max-width: 900px) {
    #game-container {
        flex-direction: column-reverse;
    }
}